html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: #212121;
}

a:hover {
  color: #878787;
}

.logo a {
  color: #e9e9e9;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.container {
  margin: auto;
  max-width: 1200px;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: -webkit-baseline-middle;;
}
p{
  font-size: 15px;
  text-align: center;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}
/*.hero-copy{
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity: 40);
}*/
h1,
h2,
.product-section-subtitle,
.product-section-price {
  font-family: segoe print;
  font-weight: bold;
}

h1 {
  font-size: 38px;
  line-height: 1.1;
  color : #222930;
  padding : 20px;
}
p {
  color : #222930;
  padding: 20px;
}

h1.stylish-heading {
  margin-bottom: 60px;
  position: relative;
}

h1.stylish-heading:before,
h1.stylish-heading:after {
  position: absolute;
  top: -4px;
  left: 0;
  width: 66px;
  height: 1px;
  background: #212121;
  content: '';
  display: block;
}

h1.stylish-heading:after {
  bottom: -14px;
  top: auto;
}

h2 {
  font-size: 22px;
}

.text-center {
  text-align: center;
  padding : 20px;
}

.spacer {
  margin-bottom: 30px;
}

.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.breadcrumbs {
  background: #F5F5F5;
  border-bottom: 1px solid #CDCDCD;
  padding: 24px 0;
}

.breadcrumbs .breadcrumb-separator {
  font-size: 14px;
  color: #545454;
}

.button {
  border: 1px solid #212121;
  padding: 12px 40px;
}

.button:hover {
  color: #e9e9e9;
  background: #212121;
}

.button-white {
  border: 1px solid #e9e9e9;
  color: #e9e9e9 !important;
}

.button-white:hover {
  color: #212121 !important;
  background: #e9e9e9;
}

.button-primary {
  background: #3EBFA4;
  color: white !important;
  padding: 12px 40px;
}

.button-primary:hover {
  background: #35a48d;
}

.button-container {
  margin: 40px 0;
}

.section-description {
  width: 80%;
  margin: 22px auto;

}

.sidebar h3 {
  font-weight: bold;
  margin-bottom: 16px;
}

.sidebar ul {
  line-height: 2;
  margin-bottom: 20px;
}

.might-like-section {
  padding: 40px 0 70px;
  background: #F5F5F5;
}

.might-like-section h2 {
  padding-bottom: 30px;
}

.might-like-section .might-like-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.might-like-section .might-like-product {
  border: 1px solid #979797;
  background: white;
  padding: 30px 0 20px;
  text-align: center;
}

.might-like-section .might-like-product img {
  width: 70%;
}

.might-like-section .might-like-product-price {
  color: #919191;
}

form .half-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

form input[type="submit"] {
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.6;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}

header.with-background {
  background-size: cover;
  color: #e9e9e9;
}

header.with-background .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  letter-spacing: 1.5px;
  color : #222930;
}

header.with-background .top-nav .logo {
  font-weight: bold;
  width: 250px;
}
header.with-background .top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  font-weight: bold;
}

header.with-background .top-nav ul a {
  color: #222930;
}

header.with-background .top-nav ul a:hover {
  color: #d0cfcf;
}

header.with-background .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding-top: 20px;
  padding-bottom: 30;
}

header.with-background .hero .hero-image {
  padding-left: 60px;
}

header.with-background .hero h1 {
  font-size: 52px;
  margin-top: 50px;
}

header.with-background .hero p {
  margin: 40px 0 68px;
}

header.with-background .hero .button {
  margin-right: 14px;
}

body {
  background-image: url("img/black.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

header {
  background: #ffffff;
}

header .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  letter-spacing: 1.5px;
}

header .top-nav .logo {
  font-weight: bold;
  font-size: 28px;
  color: #e9e9e9;
}

header .top-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  padding-top: 40px;
 /* font-weight: 400;*/
  font-weight: bold;
}

header .top-nav ul a {
  color: #e9e9e9;
}

header .top-nav ul a:hover {
  color: #d0cfcf;
}

footer {
  background: #535353;
  color: #e9e9e9;
  padding: 40px 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content .heart {
  color: #FFBABA;
}

.footer-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content a {
  color: #e9e9e9;
}

.featured-section {
  padding: 20px ;
}

.featured-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px 30px;
}

.featured-section .products .product-price {
  color: #919191 !important;
}

.blog-section {
  background: #F5F5F5;
  border-top: 0px solid #CDCDCD;
  padding: 50px 0;
  grid-area: blog-section;
}

.blog-section .blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0 20px;
  grid-template-areas: "blog1 blog2 blog3";
}

.blog-section .blog-posts #blog1 {
  grid-area: blog1;
}

.blog-section .blog-posts #blog2 {
  grid-area: blog2;
}

.blog-section .blog-posts #blog3 {
  grid-area: blog3;
}

.products-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 80px auto 80px;
}

.products-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px 30px;
}

.products-section .products .product-price {
  color: #919191;
}

.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 120px;
  padding: 100px 0 120px;
}

.product-section-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #979797;
  padding: 30px;
  text-align: center;
  height: 400px;
}

.product-section-information p {
  margin-bottom: 16px;
}

.product-section-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #919191;
}

.product-section-price {
  font-size: 38px;
  color: #212121;
  margin-bottom: 16px;
}

.cart-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 60px auto;
}

.cart-section h2 {
  margin-bottom: 30px;
}

.cart-section .cart-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.cart-section .cart-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.cart-section .cart-table-row .cart-table-row-left,
.cart-section .cart-table-row .cart-table-row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-section .cart-table-row .cart-table-row-left {
  width: 45%;
}

.cart-section .cart-table-row .cart-table-row-right {
  width: 50%;
  padding-top: 10px;
}

.cart-section .cart-table-row .cart-table-img {
  max-height: 75px;
}

.cart-section .cart-table-row .cart-table-actions {
  text-align: right;
  font-size: 14px;
}

.cart-section .cart-table-row .cart-item-details {
  padding-top: 5px;
}

.cart-section .cart-table-row .cart-table-description {
  color: #919191;
}

.cart-section .cart-totals {
  margin: 30px 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F5F5F5;
}

.cart-section .cart-totals .cart-totals-left {
  width: 25%;
}

.cart-section .cart-totals .cart-totals-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  text-align: right;
}

.cart-section .cart-totals .cart-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2;
}

.cart-section .cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

h1.checkout-heading {
  margin-top: 40px;
}

.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 40px auto 80px;
}

.checkout-section .checkout-table-container {
  margin-left: 124px;
}

.checkout-section h2 {
  margin-bottom: 28px;
}

.checkout-section .checkout-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.checkout-section .checkout-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.checkout-section .checkout-table-row .checkout-table-row-left,
.checkout-section .checkout-table-row .checkout-table-row-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-section .checkout-table-row .checkout-table-row-left {
  width: 75%;
}

.checkout-section .checkout-table-row .checkout-table-img {
  max-height: 60px;
}

.checkout-section .checkout-table-row .checkout-table-description {
  color: #919191;
}

.checkout-section .checkout-table-row .checkout-table-price {
  padding-top: 6px;
}

.checkout-section .checkout-table-row .checkout-table-quantity {
  border: 1px solid #919191;
  padding: 4px 12px;
  margin-right: 5px;
}

.checkout-section .checkout-totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #919191;
  padding: 18px 0;
  line-height: 2;
}

.checkout-section .checkout-totals .checkout-totals-right {
  text-align: right;
}

.checkout-section .checkout-totals .checkout-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2.2;
}

.checkout-section .have-code {
  display: block;
  margin: 14px 0;
  text-align: right;
}

.checkout-section .have-code-container {
  border: 1px solid #919191;
  padding: 16px;
}

.checkout-section .have-code-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-section .have-code-container input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
}

.checkout-section .have-code-container input[type="submit"] {
  background: white;
  border: 1px solid #919191;
  padding-top: 8px;
  padding-bottom: 8px;
}

.checkout-section .have-code-container input[type="submit"]:hover {
  background: #212121;
}

.thank-you-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.thank-you-section h1 {
  margin-bottom: 10px;
}

